<html>
<div *ngIf="currentUser.username !== 'firstUser'">
  <h2>Current Workout Program: {{currentWorkout.workoutName}}</h2>
  <table>
    <thead>
      <tr>
        <th>Excercise</th>
        <th>Description</th>
        <th>Set</th>
        <th>Reps/time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of currentWorkout.exercises">
        <td>{{exercise.exerciseName}}</td>
        <td>{{exercise.description}}</td>
        <td>{{exercise.sets}}</td>
        <td>{{exercise.reps}}</td>
        <td style="border-style:none"> 
          <div class="col-md-5">
            <input type="hidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [(ngModel)]="currentWorkout._id"/>
            <input type="hidden" name="ExerciseId" class="form-control" [formControl]="exerciseId" [(ngModel)]="exercise._id"/>
            <button class="btn-danger" (click)="removeExerciseClick()">Remove Exercise</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
    <input type="text" name="exerciseName" class="form-control" [formControl]="exerciseName" placeholder="Exercise Name"/>
    <input type="text" name="exerciseDescription" class="form-control" [formControl]="exerciseDescription" placeholder="Exercise Description"/>
    <input type="number" name="exerciseSet" class="form-control" [formControl]="exerciseSet" placeholder="Exercise Sets"/>
    <input type="number" name="exerciseReps" class="form-control" [formControl]="exerciseReps" placeholder="Exercise Repetitions/Time"/>
    <button class="btn-success" (click)="createExerciseClick()">Add new Exercise</button>
  <br/>
  <br/>
</div>
<h2>All Workout Programs:</h2>
<table class="center">
  <thead>
    <tr>
      <th height="40px">Workout Program</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let workout of allWorkouts">
        <td>{{workout.workoutName}}</td>
        <div *ngIf="currentUser.username !== 'firstUser'">
          <td style="border-style:none">
              <input type="hidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [(ngModel)]="currentWorkout._id"/>
              <button class="btn-success" (click)="selectWorkOutClick()" >Select Workout Program</button>
          </td>
          <td style="border-style:none">
              <input type="hidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [(ngModel)]="currentWorkout._id"/>
              <button class="btn-danger" (click)="removeWorkOutClick()">Remove Workout Program</button>
          </td>
        </div>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <div *ngIf="currentUser.username !== 'firstUser'">
    <input type="text" name="WorkoutName" class="form-control" [formControl]="workoutName" placeholder="Workout program name"/>
    <button class="btn-success" (click)="createWorkoutProgramClick()">Add new Workout program</button>
  </div>
</html>