<html>
<h1>ITTWeb FitnessApp Gruppe2</h1><br/><br/>
<h2>Current Workout Program: {{currentWorkout.workoutName}}</h2>
<table class="center">
  <thead>
    <tr>
      <th height="40px">Excercise</th>
      <th>Description</th>
      <th>Set</th>
      <th>Reps/time</th>
    </tr>
  </thead>
  <tbody>
  <div *ngFor="let exercise of currentWorkout.exercises">
    <tr>{{exercise.exerciseName}}</tr>
    <tr>{{exercise.description}}</tr>
    <tr>{{exercise.sets}}</tr>
    <tr>{{exercise.reps}}</tr>
    <tr>
      <td style="border-style:none"> 
        <div class="col-md-5">
          <input type="hidden" *ngIf="!isHidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [ngModel]="{{currentWorkout._id}}"/>
          <input type="hidden" *ngIf="!isHidden" name="ExerciseId" class="form-control" [formControl]="exerciseId" [ngModel]="{{exercise._id}}"/>
          <button class="btn-danger" (click)="removeExerciseClick()">Remove Exercise</button>
        </div>
      </td>
    </tr>
  </div>
  </tbody>
</table>
<br/>
<br/>
  <input type="text" name="exerciseName" class="form-control" [formControl]="exerciseName" placeholder="Exercise Name"/>
  <input type="text" name="exerciseDescription" class="form-control" [formControl]="exerciseDescription" placeholder="Exercise Description"/>
  <input type="number" name="exerciseSet" class="form-control" [formControl]="exerciseSet" placeholder="Exercise Sets"/>
  <input type="number" name="exerciseReps" class="form-control" [formControl]="exerciseReps" placeholder="Exercise Repetitions/Time"/>
  <button class="btn-success" (click)="createExerciseClick()">Add new Exercise</button>
<br/>
<br/>
<h2>All Workout Programs:</h2>
<table class="center">
  <thead>
    <tr>
      <th height="40px">Workout Program</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td style="border-style:none">
            <input type="hidden" *ngIf="!isHidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [ngModel]="{{currentWorkout._id}}"/>
            <button class="btn-success" (click)="selectWorkOutClick()" >Select Workout Program</button>
        </td>
        <td style="border-style:none">
            <input type="hidden" *ngIf="!isHidden" name="WorkoutId" class="form-control" [formControl]="workoutId" [ngModel]="{{currentWorkout._id}}"/>
            <button class="btn-danger" (click)="removeWorkOutClick()">Remove Workout Program</button>
        </td>
      </tr>
    </tbody>
</table>
<br/>
<br/>
  <input type="text" name="WorkoutName" class="form-control" [formControl]="workoutName" placeholder="Workout program name"/>
  <button class="btn-success" (click)="createWorkoutProgramClick()">Add new Workout program</button>
</html>